<section ngClass="{'loading':!taskList.length}">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" />

      <input
        type="text"
        placeholder="Digite a Tarefa"
        (keyup)="validationInput(item.task, i)"
        [(ngModel)]="item.task"
        [ngClass]="{ checked: item.checked }"
      />

      <button mat-mini-fab (click)="deleteItemTaskList(i)">
        <mat-icon svgIcon="lixeira"></mat-icon>
      </button>
    </li>
  </ul>
</section>

<app-todo-imput-add-itens
  (emmitItemTaskList)="setEmitTaskList($event)"
></app-todo-imput-add-itens>
<app-todo-button-delete-all
  *ngIf="taskList.length"
  (click)="deleteAllTask()"
></app-todo-button-delete-all>
