<h1>IF / ELSE</h1>
<p *ngIf="condicao_1;else blockFalse">Verdadeiro</p>
<ng-template #blockFalse>
    Falso
</ng-template>
<br>
<p *ngIf="condicao_2">verdadeiro</p>
<p *ngIf="!condicao_2">falso</p>
<button (click)="condit_2()">Clicar</button>

<hr>
<h1>FOR</h1>
<ul>
    <li *ngFor="let item of lista">{{item.nome}} - {{item.idade}} Anos</li>
</ul>

<mat-form-field appearance="outline">
<mat-label>Add Nome</mat-label>
<input (keyup.Enter)="returnFor($event)" matInput [(ngModel)]="nomeFor">
</mat-form-field>