<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.amigoazul">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.ListarUsuario"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MontarFrase"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.MenuAtividades"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ArrastaSolta_Activity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.Objetos"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.Sentimentos"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MenuComunicacao"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MainMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Cadastro_Activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.Introducao_Activity"
            android:theme="@style/Theme.Intro"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.Splash_Activity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>